@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.font-montserrat-bolder {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.font-dela-gothic-one {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: normal;
  word-spacing: 8px;
}

.font-dela-gothic-one2 {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 100;
  font-size: medium;
  opacity: 0.9;
}

.font-dela-gothic-one3 {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 100;
  font-size: medium;
  font-style: italic;
  opacity: 0.95;
}

.custom-text-shadow {
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
